{% extends "base.html" %}
{% block title %}Make A Post{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Make Your Own Post</h1>
  <form action="/postblog" method="POST">
    <div class="form-group">
    <label for="titlefield">Title</label>
    <input type="text" class="form-control" id="titlefield" name="title" aria-describedby="emailHelp" placeholder="Title">
    <small id="emailHelp" class="form-text text-muted">Give us a title.</small>
  </div>
  <div class="form-group">
    <label for="bodyfield">Body</label>
    <input type="text" class="form-control" id="bodyfield" name="body" aria-describedby="emailHelp" placeholder="Body">
    <small id="emailHelp" class="form-text text-muted">What do you want to say?.</small>
  </div>
  <button type="submit" class="btn btn-default">Submit Post</button>
  </form>
{% endblock %}